/* Start Styling */
body{
    padding: 0%;
    margin: 0%;
    top: 0%;
}
.heading{
    display: flex;
    border-block-end: 20px;
    margin-inline-end: 49%;
}
span {
    font-weight: bold;  
}

#nav-bar {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    margin-inline-start: 45.6%;
    margin: -49px 90px 20px 10px;
    position: relative;
    
}

.main-nav{
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    border-top: 10%;
    
}
.nav-link{
    text-decoration: none;
    padding: 10px;
    color: black;
}
i {
    color: black;
    margin: 0px -60px 5px 5px;
    font-size: 1.4em;
}
#nav-linkes{
    background: #ef5a48;
    color: white;
    margin: 8px;
    list-style-type: none;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}

#nav-links{
    background: #e09755;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}
#joinnow{
    padding: 8%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: black url(images/library-hero.jpg) ;
    color: white;

 }

#joinnow h1{
    font-size: 5em;
    font-family: 'Fira Sans', sans-serif;
    margin: inherit;
 }

 #joinnow h2{
    font-size: 2.2em;
    margin: inherit;
 }

 #joinnow button {
     color: white;
     background: #0d3b66;
     border: none;
     outline: none;
     padding: 18px 40px 20px 40px;
     cursor: pointer;
 }

 /* 2nd section */


/*3rd section*/
.imag{
	padding: 8%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: black url(images/bus.jpg) ;
    color: white;

}

.tezt{
    background-color: #0000008f;
    padding: 5%;
    padding-block-start: inherit;
    padding-left: 20%;
  
}

.tezt h1{
    font-size: 2em;
    font-family: 'Fira Sans', sans-serif;
    margin-left: -50px; 
 }
 
 .tezt p{
 	margin-left: -100px;
 }

.tezt button {
     color: white;
     background: #0d3b66;
     border: none;
     outline: none;
     padding: 18px 40px 20px 40px;
     cursor: pointer;
     margin-left: -30px; 
 }
 .nav-bar1 .icon {
    display: none;
  }

#articles {
    display: flex;
}

.upcoming-events {
    background-color: white;
    /* max-width: 50%; */
    padding: 25px;
    text-align: center;
}

.upcoming-events>p {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.ue-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#from-blog {
    background-color: #faf2c8;
    /* max-width: 50%; */
}

.art-1 {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    padding: 12px 15px;
    background-color: #043867;
    margin: 0;
    border-radius: 50px;
    text-align: center;
    color: white;
    margin-right: 25px;
}

.yellow {
    padding: 12px 18px;
    background-color: #f6d652;
}

.shadow {
    text-shadow: 1px 1px #d9bf55;
}

.bp:hover {
    cursor: pointer;
    /* background-image: linear-gradient(to bottom, #ffffff54, #eebd32); */
    background-image: linear-gradient(to bottom, #eee1b588, #f0c237);
}

.ae:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #0b539c, #0d3d69);
}

.ae {
    padding: 12px 18px;
}

.month {
    font-size: 20px;
    margin: 0;
}

.date {
    font-weight: bold;
    font-size: 34px;
    margin: 0;
}

.initial {
    text-align: initial;
}

.date-two {
    padding: 12px 18px;
}

.underline {
    color: #043867;
    text-decoration: underline;
    margin: 0;
    font-size: 20px;
}

.underline+p {
    margin: 5px 0px 0px 0px;
    font-size: 15px;
    line-height: 1.4;
}

.u-text {
    margin: 5px 0 0 0;
}

.grey {
    color: #999;
}

#from-blog>p {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.blogs {
    background-color: #faf2c8;
}

.btn {
    font-size: 15px;
}


@media screen and (max-width: 800px) {
    .nav-link{
        display: none;
    }
    #nav-links{
        background: #e09755;
        color: white;
        padding: 0px 0px 10px 10px;
        border-radius: 7px;
    }
   
  }
@media screen and (max-width: 600px) {
    .nav-link{
        display: none;
    }
    .nav-bar1 a.icon {
        float: left;
        display: block;
      }
      .heading{
        border-block-end: 10px;
        margin-inline-end: 20%;
      }
   
}

@media screen and (max-width: 600px) {
    .nav-bar1.responsive {position: relative;}
    .nav-bar1.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;   
    }
    .nav-bar1.responsive a {
      display: block;
      text-align: left;
      color: #e09755;
    }
    #nav-bar.responsive {
        display: block;
      
    }
    ul{ 
        justify-content: flex-start;
        margin: 30px 20%;
        flex-direction: column;
      }
      
      li{
        margin: 2px ;
      }
    
      a{
        display: block;
      }
  }